html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Reset Ends Here! */

:root {
    --color00: rgba(244, 218, 138, 255);
    --color01: rgb(38,31,17);
    --color02: rgb(2, 57, 105);
    --color03: rgb(250,238,197);
    --color04: rgb(190,173,125);
    --color05: rgb(124,99,59);
    --color06: rgb(124,99,59);
    --color06: rgb(171,164,122);
    --color06: rgb(185,166,92);
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color05)
}

.top-nav-container {
    display: flex;
    width: 100%;
    background-color: var(--color00);
    justify-content: space-between;
}

.top-menu {
    display: flex;
    gap: 1.5vw;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.top-menu>li {
    font-size: 24px;
    color: rgb(2, 57, 105);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.top-menu > li:hover {
    border-bottom: 1.5vh rgb(2, 57, 105) solid;
    cursor: pointer;
}
