html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Reset Ends Here! */

:root {
    --color00: rgba(244, 218, 138, 255);
    --color01: rgb(38, 31, 17);
    --color02: rgb(2, 57, 105);
    --color03: rgb(250, 238, 197);
    --color04: rgb(190, 173, 125);
    --color05: #d779a5;
    --color06: #EBF5F7;
    --color07: #222222;
    --color08: #3b3b3b;
    --color09: #1111113a;
}

@font-face {
    font-family: Cairo;
    src: url('./fonts/Cairo-Regular.ttf');
}

@font-face {
    font-family: Cairo-Bold;
    font-weight: bolder;
    src: url('./fonts/Cairo-Bold.ttf');
}

@font-face {
    font-family: Cairo-Light;
    font-weight: light;
    src: url('./fonts/Cairo-Light.ttf');
}

@font-face {
    font-family: Cairo-Lighter;
    font-weight: lighter;
    src: url('./fonts/Cairo-ExtraLight.ttf');
}

@font-face {
    font-family: Cairo-SemiBold;
    font-weight: bold;
    src: url('./fonts/Cairo-SemiBold.ttf');
}

@font-face {
    font-family: Cairo-Black;
    font-weight: 'black';
    src: url('./fonts/Cairo-Black.ttf');
}



a,
a:visited,
a:link {
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Cairo', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #1f1f1fde; */
    background-image: url("./imgs/background.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.top-nav-logo {
    padding-left: 0.5vw;
}

.top-nav-container {
    display: flex;
    width: 100%;
    background-color: #F4F3EB;
    justify-content: space-between;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(55, 55, 55, 0.75);
    -moz-box-shadow: 0px 1px 1px 0px rgba(55, 55, 55, 0.75);
    box-shadow: 0px 0px 4px 0px rgba(150, 150, 150, 0.75);
}

@media (500px > width) {
    .top-menu {
        display: flex;
        gap: 0.2rem;
        list-style: none;
        align-items: center;
    }

    .top-menu>li,
    .top-menu>a {
        font-family: 'Cairo-lighter', 'sans-serif';
        font-size: 16px;
        color: var(--color02);
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-weight: 400;
    }

    .top-nav-logo {
        display: none
    }
}

.top-menu {
    display: flex;
    gap: 1.5vw;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;

}

.top-menu>li,
.top-menu>a {
    font-family: 'Cairo-lighter', 'sans-serif';
    font-size: 24px;
    color: var(--color02);
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: 700;
}

.top-menu>li:hover,
.top-menu>a:hover {
    /* border-bottom: 1.5vh rgb(2, 57, 105) solid; */
    border-bottom: 0.5vh var(--color02) solid;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}


.main-content-container {
    padding: 2vh;
    display: flex;
    gap: 5vw;
    height: 100%;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    flex-grow: 1;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    /* justify-content: center; */
}

.left-container-title {
    font-size: 2.5vw;
    font-weight: 700;
    /* color: rgb(69, 68, 68) */
    color: var(--color01)
}

.text {
    width: 100%;
    height: 100%;

    background: radial-gradient(ellipse at center,
            rgb(245, 245, 245) 0%,
            rgb(245, 245, 245) 70%,
            rgba(138, 172, 0, 0) 70.3%);

}

.text p {
    height: 100%;
    font-size: 21px;
    line-height: 1.25;
    padding: 0;
    text-align: center;
    font-style: italic;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);

}

.text::before {
    content: "";
    width: 50%;
    height: 100%;
    float: left;

    shape-outside: polygon(0 0,
            98% 0,
            50% 6%,
            23.4% 17.3%,
            6% 32.6%,
            0 50%,
            6% 65.6%,
            23.4% 82.7%,
            50% 94%,
            98% 100%,
            0 100%);
    shape-margin: 7%;

}

.text p::before {
    content: "";
    width: 50%;
    height: 100%;
    float: right;
    shape-outside: polygon(2% 0%,
            100% 0%,
            100% 100%,
            2% 100%,
            50% 94%,
            76.6% 82.7%,
            94% 65.6%,
            100% 50%,
            94% 32.6%,
            76.6% 17.3%,
            50% 6%);
    shape-margin: 7%;

}


@media (min-width: 850px) {
    .quote-wrapper {
        width: 370px;
        height: 370px;

    }

    .quote-wrapper::before {
        font-size: 300px;
    }

    .text p {
        font-size: 26px;
    }

    .quote-wrapper blockquote footer {
        bottom: 32px;
    }
}


footer,
.ul-class-menu {
    margin-top: auto;
    margin-bottom: auto;
    /* height: 100%; */
    /* color: #EBF5F7; */
    color: #222222;
    padding-bottom: 1rem;
}

.bottom-menu>li:hover {
    /* color: var(--color00); */
    color: #1710103e;
    transition: all ease-in-out 0.2s;
}

.bottom-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    list-style: none;
}

.bottom-menu>li {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25vw;
}

.right-content>img {
    border: 2px solid white;
    box-shadow: 0px 0px 5px 0px rgba(125, 125, 125, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(125, 125, 125, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(125, 125, 125, 0.75);
}

img {
    height: auto;
    max-width: 100%;
}

.left-container {
    display: flex;
    flex-direction: column;
    /* gap: 5vh; */
}

.main-content-title {
    font-size: 4vw;
    padding-top: 2vh;
    padding-bottom: 6vh;
    text-align: center;
}

.calendar-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 2rem;
}

.calendar-content-title {
    font-size: 28px;
    padding-bottom: 2vh;
}

.calendar-content-text {
    font-size: 20px;
}

.calendar-main-content-container {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.calendar-content-box {
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 100%;
    padding-left: 2rem;
}


.calendar-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    /* grid-template-rows: repeat(2, minmax(10rem, 1fr)); */
    gap: 0.5rem;
}



@media (width < 735px) {
    .calendar-content-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        /* grid-template-rows: repeat(auto-fit, minmax(8rem, 1fr)); */
        gap: 0.5rem;
    }

    .grid-box {
        background-color: rgb(220, 209, 225);
        /* max-height: 50px; */
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        align-items: center;
        text-align: center;
        font-size: 10px;
    }

    .calendar-content-title {
        font-size: 16px;
        padding-bottom: 2vh;
    }

    .calendar-content-text {
        font-size: 14px;
    }

    .calendar-content-box-title {
        font-size: 14px;
    }
}


.calendar-content-box-title {
    font-size: 18px;
}



.grid-box {
    background-color: rgb(220, 209, 225);
    height: 5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    align-items: center;
    text-align: center;
}

.join-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    align-items: center;
}

.join-content-title {
    font-size: 28px;
}

.join-content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    width: 100%;
    min-width: 300px;
    align-items: center;
}

.join-form-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;

}

.join-form {
    font-size: 18px;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 600px;
    min-width: 20 0px;
}

fieldset>textarea {
    height: 80px;
    font-size: 18px;
}

input,
select {
    font-size: 18px;
    border-radius: 1px;
    height: 25px;
}

.submit-btn-field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
}

@media (width < 650px) {
    fieldset {
        display: flex;
        flex-direction: column;
        width: 250px;
        min-width: 200px;
    }

    .top-menu>img {
        height: auto;
        max-width: 70%;
    }

    .top-menu>li,
    .top-menu>a {
        font-size: 15px;
    }
}

@media (650px < width <=800px) {

    .top-menu>li,
    .top-menu>a {
        font-size: 20px;
    }
}

/* @media (550px > width) {

    .calendar-content-grid {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(50px, 50px));
        grid-template-rows: repeat(auto-fit, minmax(50px, 50px));
        grid-auto-flow: column;
        grid-gap: 1vw;
    }
}

@media (550px < width) {

    .calendar-content-grid {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(auto-fit, minmax(50px, 200px));
        grid-template-rows: repeat(auto-fit, minmax(50px, 200px));
        grid-auto-flow: row;
        grid-gap: 1vw;
    }
} */


.contact-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.contact-us-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    /* gap: 2.5rem; */
}

.contact-form {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 1000px;

}

.contact-us-title {
    font-size: 36px;
    padding-top: 1rem;

}

.contact-us-content {
    padding: 4rem 0px;
}

.contact-us-container {
    text-align: center;
}

.contact-list>li {
    cursor: pointer;
}

.contact-list>li:hover {
    scale: 1.1;
    transition: all ease-in-out 0.2s;
}

@media (550px > width) {
    .contact-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}